.header {
  color: white;
  background-color: var(--srtr-green);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 10rem;
  padding: 0 10rem;
}

.header H1 {
  margin: 0;
  font-size: 6rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 25rem;
}

.menu a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.menu a:visited {
  color: white;
}
