.stationButton {
  width: 35rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.stationButton p {
  font-size: 3.2rem;
}

.stationButton span {
  width: 5rem;
}

.radio {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border: 0.5rem solid var(--srtr-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -3rem;
  cursor: pointer;
}

.selected {
  width: 3rem;
  height: 3rem;
  background-color: var(--srtr-green);
  border-radius: 50%;
}

/* .selected {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border: 0.5rem solid var(--srtr-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -3rem;
  cursor: pointer;
}

.selectedInlineCircle {
  width: 3rem;
  height: 3rem;
  background-color: var(--srtr-green);
  border-radius: 50%;
}

.unselected {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border: 0.5rem solid var(--srtr-green);
  border-radius: 50%;
  position: absolute;
  left: -3rem;
  cursor: pointer;
} */
