.stationButton {
  width: 38rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.stationButton p {
  margin: 0 0 0 40px;
  font-size: 4rem;
}

.selected {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: 0.2rem solid var(--srtr-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedInlineCircle {
  width: 3rem;
  height: 3rem;
  background-color: var(--srtr-green);
  border-radius: 50%;
}

.unselected {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: 0.5rem solid var(--srtr-green);
  border-radius: 2rem;
}