@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	overscroll-behavior: none;
}

img {
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}
