.footer {
  color: white;
  background-color: var(--srtr-green);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 10rem;
  padding: 0 10rem;
}

.footer p {
  margin: 0;
  font-size: 3rem;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 42rem;
}

.link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 18rem;
}

.link a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.link a:visited {
  color: white;
}

.link img {
  width: 6rem;
  height: 6rem;
}