.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 10rem;
}

.timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;
}

.stationSign {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 56rem;
}

.stationSign h2 {
  padding: 0 2rem;
  font-size: 6rem;
  text-align: center;
}

.signBorder {
  flex-grow: 1;
  border-top: 1rem solid var(--srtr-green);
  border-bottom: 1rem solid var(--srtr-green);
  height: 4rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: first;
  width: 40rem;
  border-left: 1rem solid var(--srtr-green);
}

.sidebar span {
  height: 4rem;
}
