.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10rem 10rem;
}

.timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 5rem 0 0;
}

.stationSign {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 56rem;
}

.stationSign h2 {
  padding: 0 2rem;
  font-size: 6rem;
  text-align: center;
}

.signBorder {
  flex-grow: 1;
  border-top: 1rem solid var(--srtr-green);
  border-bottom: 1rem solid var(--srtr-green);
  height: 4rem;
}

.timetableInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 4rem;
  margin: 5rem 0 4rem 0;
  width: 108rem;
}

.diasign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 0.6rem 0.5rem;
  border-bottom: 0.2rem solid var(--srtr-green);
}

.diasign p {
  font-size: 2rem;
}

.diasign span {
  width: 1rem;
}

.diasign img {
  width: 3rem;
  height: 3rem;
}

.directionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 58rem;
  height: 8rem;
  cursor: pointer;
}

.selectedDirectionButton {
  display: flex;
  background: var(--srtr-green);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0.2rem solid var(--srtr-green);
}

.selectedDirectionButton p {
  color: white;
  font-size: 3rem;
}

.unselectedDirectionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0.2rem solid var(--srtr-green);
}

.unselectedDirectionButton p {
  color: black;
  font-size: 3rem;
}

.timecards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.timecards span {
  height: 2rem;
}

.timebar {
  display: flex;
  flex-direction: row;
  justify-content: first;
  align-items: center;
  background: var(--srtr-green);
  border-radius: 0.5rem;
  width: 108rem;
  height: 5rem;
  padding: 0 2rem;
}

.timebar span {
  width: 2rem;
}

.timebar p {
  color: white;
  font-size: 2.5rem;
}

.timebarButton {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.loading {
  font-size: 6rem;
  text-align: center;
  margin: 20rem 0;
}

.missing {
  font-size: 6rem;
  text-align: center;
  margin: 20rem 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: first;
  width: 30rem;
  height: 100%;
  border-left: 1rem solid var(--srtr-green);
}

.sidebar span {
  height: 4rem;
}
