.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 10rem;
}

.timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;
}

.stationSign {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 56rem;
}

.stationSign h2 {
  padding: 0 2rem;
  font-size: 6rem;
  text-align: center;
}

.signBorder {
  flex-grow: 1;
  border-top: 1rem solid var(--srtr-green);
  border-bottom: 1rem solid var(--srtr-green);
  height: 4rem;
}

.timetableInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin: 5rem 0 2rem 0;
  width: 100%;
}

.diasign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 18rem;
  height: 5rem;
  padding: 1rem 1.8rem;
  border: 0.2rem solid var(--srtr-green);
  border-radius: 0.5rem;
}

.diasign p {
  font-size: 2rem;
}

.diasign img {
  width: 3rem;
  height: 3rem;
}

.directionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 58rem;
  height: 8rem;
  cursor: pointer;
}

.selectedDirectionButton {
  display: flex;
  background: var(--srtr-green);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0.2rem solid var(--srtr-green);
}

.selectedDirectionButton p {
  color: white;
  font-size: 3rem;
}

.unselectedDirectionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0.2rem solid var(--srtr-green);
}

.unselectedDirectionButton p {
  color: black;
  font-size: 3rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: first;
  width: 40rem;
  border-left: 1rem solid var(--srtr-green);
}

.sidebar span {
  height: 4rem;
}
